form{
  border: solid 2px black;
  border-radius: 15px;
  width: 50%;
  background-color: rgb(192, 235, 235);
  box-shadow: 14px 14px 20px 0 rgb(228, 228, 228);
}
button{
  border-radius: 25px;
  width: 130px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
}
#resultados{
  border: solid 2px black;
  text-align: center;
  border-radius: 15px;
  width: 50%;
  background-color: rgb(192, 235, 235);
  box-shadow: 14px 14px 20px 0 rgb(228, 228, 228);
}
h1{
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 25px;
}
img{
  width: 400px;
  height: 400px;
  border-radius: 100%;
}
/* Clases */
.espacio{
  margin: 10px;
  padding: 5px;
}
/* Ids */
#imp{
  background: linear-gradient(to bottom right, chartreuse, darkgreen);
}
#bor{
  background: linear-gradient(to bottom right, red, darkred);
}
#caja{
  margin: 15px;
  display: flex;
  flex-direction: row;
}
#sex{
  margin: 5px;
}
