button{
  border-radius: 15px;
  color: white;
}
h1{
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 25px;
}
form{
  border: solid 2px black;
  border-radius: 15px;
  width: 50%;
  background-color: rgb(192, 235, 235);
  box-shadow: 14px 14px 20px 0 rgb(228, 228, 228);
}
/* Clases .*/
.espacio{
  margin:10px;
  padding: 5px;
}
/* Ids # */
#btnMult{
  background: linear-gradient(to bottom right, chartreuse, darkgreen);
}
#btnBorr{
  background: linear-gradient(to bottom right, red, darkred);

}
